<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<script src="https://d3js.org/d3.v5.min.js"></script>


	<style type="text/css">
		input[type="range"]{
			width: 100%;
		}
		.btn{ 
			width: 100%; 
		}
		p{ 
			text-align: center;
			font-size: 2.5vmin;
			line-height: 5vmin;
		}
	</style>
</head>

<body style="position: fixed;">
	<button class="btn btn-secondary" style="height: 15vmin; width: 100vw; position: block; font-size: 6vmin" id="gyroswitch" ontouchstart="gyroEnable = !gyroEnable; this.innerHTML = (gyroEnable ? 'Enable':'Disable')">Disable</button>
	<div class="row">
		<div class="col-sm-4"><p id="motion">Not Support</p></div>
		<div class="col-sm-4"><p id="out">Not Support</p></div>
		<div class="col-sm-4"><p id="motor">Not Support</p></div>
	</div>

</body>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>

<script type="text/javascript">
	var socket =io();
	var Motor = [0,0,0,0]

	var svg = d3.select("body").append("svg").style('position','absolute').style('background-color','#eee').style('width','500px').style('height','500px')

	var c1 = svg.append('circle').attr('r',50).attr('cy',250).attr('cx',250).attr('fill','#ccc')

	var circle = svg.append('circle').attr('r',20).attr('cy',250).attr('cx',250)


	function Action(m0,m1,m2,m3){
		if(m0 > 800) m0 = 800;
		if(m1 > 800) m1 = 800;
		if(m2 > 800) m2 = 800;
		if(m3 > 800) m3 = 800;
		Motor[0] = m0
		Motor[1] = m1
		Motor[2] = m2
		Motor[3] = m3		
		send()
       	ledUpdateLabel()
	}
	function send(){
		let output = 
       		String(Motor[0])+','+
       		String(Motor[1])+','+
       		String(Motor[2])+','+
       		String(Motor[3]);
       	socket.emit('updates', output);
       	console.log(output);
	}


	var gyroEnable = false
	window.addEventListener("deviceorientation", handleMotion, true);
	function handleMotion(){
		if(gyroEnable){
			var A = event.beta
			var B = event.gamma

			document.getElementById('motion').innerHTML = "Beta:"+String(A.toFixed(2))+" Gamma:"+String(B.toFixed(2))
			// if(B > 0 && B < 60) Action(0,999,0,999)//Action(0,500+(90-parseInt(B))*(400/90),0,500+(90-parseInt(B))*(400/90));//Action(0,400+(90-B)*(400/90),0,400+(90-B)*(400/90));
			// else if(B < 0 && B > -70) Action(999,0,999,0);
			// else if(A > 40) Action(0,999,999,0);
			// //else if(A < -40) Action(999,0,0,999);
			// else Action(0,0,0,0);

			circle.attr('cy',250+(A/90*250)).attr('cx',250+(B/90*250))

			var seftZone = 20

			if(B > seftZone){
				document.getElementById('out').innerHTML = "forward"
			}else if(B < -seftZone){
				document.getElementById('out').innerHTML = "backward"
			}else if(A > seftZone){
				document.getElementById('out').innerHTML = "right"
			}else if(A < -seftZone){
				document.getElementById('out').innerHTML = "left"
			}else{
				document.getElementById('out').innerHTML = "Stop"
			}

			document.getElementById('motor').innerHTML = (500*(A/90)).toFixed(2)

		}
	}

	socket.on('status', function(msg){
		var obj = JSON.parse(msg);
		document.getElementById('temp').innerHTML = obj['temp'] + " °c"
		document.getElementById('humi').innerHTML = obj['humi'] + " %"
		document.getElementById("ledR").value = obj['led']['r']
		document.getElementById("ledG").value = obj['led']['g']
		document.getElementById("ledB").value = obj['led']['b']
		document.getElementById("melodynow").innerHTML = obj['sound']['melodykey']

		var now =  new Date()
		document.getElementById("date").innerHTML = now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()+"."+now.getMilliseconds()
		hzcounter += 1;
    });

	// var hzcounter = 0;
 //    var time = setInterval(function(){
 //            document.getElementById('hz').innerHTML = hzcounter+" Hz"; 
 //            hzcounter = 0;
 //        },1000);



</script>

</html>