<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	

	<style type="text/css">
		.btn{ width: 100%; height: 20vh; font-size: 6vmin; }
	</style>
</head>

<body>

						<div class="row" style="margin-top: 10px;">
							<div class="col-sm-4"></div>
							<div class="col-sm-4"><button class="btn btn-secondary" onmousedown="Action(999,0,999,0);" onmouseup="Action(0,0,0,0);" ontouchstart="Action(999,0,999,0);" ontouchend="Action(0,0,0,0);">Forward</button></div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-sm-4"><button class="btn btn-secondary" onmousedown="Action(0,500,500,0);" onmouseup="Action(0,0,0,0)" ontouchstart="Action(0,500,500,0);" ontouchend="Action(0,0,0,0);">Left</button></div>
							<div class="col-sm-4"><button class="btn btn-secondary" onmousedown="Action(0,0,0,0);" onmouseup="Action(0,0,0,0)" ontouchstart="Action(0,0,0,0);" ontouchend="Action(0,0,0,0);">Stop</button></div>
							<div class="col-sm-4"><button class="btn btn-secondary" onmousedown="Action(500,0,0,500);" onmouseup="Action(0,0,0,0)" ontouchstart="Action(500,0,0,500);" ontouchend="Action(0,0,0,0);">Right</button></div>
						</div>
						<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
							<div class="col-sm-4"></div>
							<div class="col-sm-4"><button class="btn btn-secondary" onmousedown="Action(0,999,0,999);" onmouseup="Action(0,0,0,0);" ontouchstart="Action(0,999,0,999);" ontouchend="Action(0,0,0,0);">Backward</button></div>
							<div class="col-sm-4"></div>
						</div>

</body>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript">
	var socket =io();
	var Motor = [0,0,0,0]

	function Action(m0,m1,m2,m3){
		if(m0 > 800) m0 = 800;
		if(m1 > 800) m1 = 800;
		if(m2 > 800) m2 = 800;
		if(m3 > 800) m3 = 800;
		Motor[0] = m0
		Motor[1] = m1
		Motor[2] = m2
		Motor[3] = m3		
		send()
	}
	function send(){
		let output = 
       		String(Motor[0])+','+
       		String(Motor[1])+','+
       		String(Motor[2])+','+
       		String(Motor[3]);
       	socket.emit('updates', output);
       	console.log(output);
	}



	// var hzcounter = 0;
 //    var time = setInterval(function(){
 //            document.getElementById('hz').innerHTML = hzcounter+" Hz"; 
 //            hzcounter = 0;
 //        },1000);



</script>

</html>